<template>
    <div class="col-sm-3">

        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h5>
                    {{ stock.name }}
                    <small>(PRICE: {{ stock.price }})</small>
                </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    
                    <input type="number" 
                           :class="['form-control', 'mb-4', insufficientFunds ? 'is-invalid' : '']" 
                           placeholder="Quantity"
                           v-model="quantity">
                    <button class="btn btn-success btn-block float-right"
                            @click="buyStock"
                            :disabled="insufficientFunds || quantity <= 0 || !Number.isInteger">
                            {{ insufficientFunds ? 'Insufficient Funds' : 'Buy' }} 
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['stock'],
    data() {
        return {
            quantity: 0
        }
    },
    computed: {
        funds() {
            return this.$store.getters.funds;
        },
        insufficientFunds() {
            return this.stock.price * this.quantity > this.funds;
        }
    },
    methods: {
        buyStock() {
            const order = {
                stockId: this.stock.id,
                stockPrice: this.stock.price,
                quantity: this.quantity
            }
            this.$store.dispatch('buyStock', order);
            this.quantity = 0;
        }
    }
}
</script>