<template>
    <div class="col-sm-3">

        <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h5>
                    {{ stock.name }}
                    <small>(PRICE: {{ stock.price }} | Quantity: {{ stock.quantity }})</small>
                </h5>
            </div>
            <div class="card-body">
                <div class="card-text">
                    
                    <input type="number" 
                           :class="['form-control', 'mb-4', insufficientQuantity ? 'is-invalid' : '']" 
                           placeholder="Quantity"
                           v-model="quantity">
                    <button class="btn btn-success btn-block float-right"
                            @click="sellStock"
                            :disabled="insufficientQuantity || quantity <= 0 || !Number.isInteger">
                            {{ insufficientQuantity ? 'Not enough Stocks' : 'Sell' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex';

export default {
    props: ['stock'],
    data() {
        return {
            quantity: 0
        }
    },
    computed: {
        insufficientQuantity() {
            return this.quantity > this.stock.quantity;
        }
    },
    methods: {
        ...mapActions({
            placeSellOrder: 'sellStock'
        }),
        sellStock() {
            const order = {
                stockId: this.stock.id,
                stockPrice: this.stock.price,
                quantity: this.quantity
            };
            this.placeSellOrder(order);
            this.quantity = 0;
        }
    }
}
</script>